<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Portfolio</title>

    <!-- Lien vers les fichiers CSS -->
    <link rel="stylesheet" href="assets/css/app.9bdcf330.css">
</head>
<body>
    <div id="app"></div>

    <!-- Inclusion des fichiers JS -->
    <script src="assets/js/chunk-vendors.0a2e939b.js"></script>
    <script src="assets/js/app.1a04dff0.js"></script>
</body>
</html>
